<launch>
    <!-- Execute Gazebo launch file and load our world. -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find tas_car_gazebo)/worlds/tas_car.world" />
        <arg name="gui" value="true" />
    </include>

    <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find tas_car_description)/urdf/tas_car_platform.urdf.xacro'" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="tas_car_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
     args="-urdf -param robot_description -model tas_car" />

     <!-- Read joint positions from joint_states, then publish the vehicle's state to tf. -->
    <!--node   name="robot_state_publisher" 
            pkg="robot_state_publisher"
            type="robot_state_publisher">
        <param name="publish_frequency" value="50.0"/>
    </node -->

    <!-- ros_control mybot launch file -->
    <include file="$(find tas_car_control)/launch/tas_car_control.launch" />
</launch>
